
* {
    padding:0;
    margin: 0;
}



.header {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #95986B;
    padding:1%;
}

.header > * {
   padding:1%;
   display:flex;
   flex-direction: row;
   font-size: 2em;
}

.header div > * {
    padding:0% 4%;
    background:none;
    border:none;
    font-size: 1em;   
}

.header div > *:hover:not(h1) {
    text-decoration: underline pink;
    transform: scale(1.2);
    cursor: pointer;
}

button {
    font-family:Arial, Helvetica, sans-serif;
}

.title {
    font-family: 'Italianno', cursive;
    font-weight: bolder;
    color:pink;
    font-size: 4em;
}

.main {
    background-color:rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding:3%;
}

.main p {
    color: pink;
    font-family:'Italianno', cursive;
    font-size: 3em;
    font-weight: 500;
}

img {
    width:50%;
    height: 50%;
    border-radius: 50%;
}

.footer {
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
}


#content {
    height: 100vh;
} 


.main-menu {
    background-color: #5D7C50;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10%;
    padding: 2%;
}

.main-menu p {
    font-size: 1.2em;
    padding: 5% 0%;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
}

.main-menu img {
    width:150px;
    height: 150px;
}

.main-menu img:hover {
    transform: scale(1.8);
}

.contact-div {
    background-color: #5D7C50;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contact-div > * {
    padding:2%;
}
